<!-- <a href ng-click="l.mode='loading'">loading</a>
<a href ng-click="l.mode='show'">show</a> -->
<table ng-controller="JournalLineFormCtrl" ico-form="l.mode" ico-loading>
	<tbody>
		<tr show-form>
			<td>{{l.id}}</td>
			<td>{{l.journal_id}}</td>
			<td>{{l.item_id}}</td>
			<td>{{l.dimension_id}}</td>
			<td>{{l.to_dimension_id}}</td>
			<td>{{l.qty}}</td>
			<td>{{l.type}}</td>
			<td><a href ng-click="l.mode='edit'">edit</a> <span></span><a href ng-click="destroy()">x</a></td>
		</tr>
		<tr edit-form>
			<td colspan=4>
				<form ng-submit="createOrUpdate()">
					<div ico-input="l.item_id">item_id</div>
					<div ico-input="l.dimension_id">dimension_id</div>
					<div ico-input="l.to_dimension_id">to_dimension_id</div>
					<div ico-input="l.qty">qty</div>
					<div ico-error="l.errors.main"></div>
					<div>
						<br />
						<input type="submit">
						<span>or</span>
						<a href ng-click="cancel()">Cancel</a>
					</div>
				</form>
			</td>
		</tr>
	</tbody>
</table>