
<div ng-controller="JournalsContentCtrl">
	<a href ng-click="new()">New journal</a>
	<div ng-repeat="j in journals" class="journal">
		
		<div ng-include="'views/journal_form.html'" ng-class="j.class"></div>

		<div class="lines" ng-controller="JournalLinesCtrl" ng-show="j.show_lines">
			<a href ng-click="new()">Add</a>
			<span>or</span>
			<a href ng-click="j.show_lines=false">Hide</a>
			<div ng-repeat="l in j.lines" ng-include="'views/journal_line_form.html'"></div>
		</div>
	</div>
</div>