<!-- <a href ng-click="j.mode='loading'">loading</a>
<a href ng-click="j.mode='show'">show</a>
<a href ng-click="j.mode='edit'">edit</a> -->

<div  ng-controller="JournalCtrl" ico-form="j.mode" class="journal" ng-class="j.class" ico-loading>
	<div show-form>
		<span>{{j.id}}</span>
		<span>{{j.number}}</span>
		<span>{{j.description}}</span>
		<span>{{j.type}}</span>
		<span>{{j.dimension_id}}</span>
		<span>{{j.to_dimension_id}}</span>
		<span>{{j.posted}}</span>
		<a href class="lines-link" ng-click="j.mode='edit'">Edit</a>
		<a href class="line-link" ng-click="destroy()">Delete</a> <br />
		<a href class="lines-link" ng-click="j.show_lines=true" ng-hide="j.show_lines">Lines</a>
	</div>

	<form ng-submit="createOrUpdate()" edit-form>		
		<table> 
			<tr style="vertical-align:top;">
				<td ico-input="j.number">Number</td>
				<td ico-input="j.description">Description</td>
				<td>
					<label>type</label> <br />
					<select ng-model="j.type" ng-options="v for v in ['InventJournalTransfer', 'InventJournalCount']">
					</select>
				</td>
				<!-- <td ico-input="j.journal_type">type</td> -->
				<td ico-input="j.dimension_id">dimension_id</td>
				<td ico-input="j.to_dimension_id">to_dimension_id</td>
			</tr>
			<tr>
				<td ico-error="j.errors.main" colspan=5>
				</td>
			</tr>
		</table>
		<div>
			<input type="submit">
			<span>or</span>
			<a href ng-click="cancel()">Cancel</a>
		</div>
	</form>
	<div class="lines" ng-controller="JournalLinesCtrl" ng-show="j.show_lines" ico-loading="loading">
		<a href ng-click="new()">Add</a>
		<span>or</span>
		<a href ng-click="j.show_lines=false">Hide</a>
		<div ng-repeat="l in j.lines" ng-include="'views/journal_line_form.html'"></div>
	</div>
</div>